<!DOCTYPE html>
<html>
<head>
    <link href='assets/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee|Comfortaa" rel="stylesheet">
    <link href='assets/css/styles.css' rel='stylesheet' type='text/css'>
    <script src='assets/js/jquery-3.1.0.min.js'></script>
    <script src='assets/js/scripts.js'></script>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <div class="container">
        <h1>Rock Paper Scissors</h1>
        <h2>Rules</h2>
        <ul>
            <li>Each player chooses a button</li>
            <li>Close your eyes on your opponents turn!</li>
            <li>Click go to evaluate winner</li>
        </ul>
        <div class='row'>
            <div class='col-md-6'>
                <h2>One Player</h2>
                <form action='/onePlayer' method='get'>
                    <div>
                        <button type="submit" class="btn btn-success btn-lg">Go!</button>
                    </div>
                </form>
            </div>
            <div class='col-md-6'>
                <h2>Two Player</h2>
                <form action='/twoPlayer' method='get'>
                    <div>
                        <button type="submit" class="btn btn-success btn-lg">Go!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
